/*changes font, alligns text to center, size of text, and padding around text*/
h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: rgb(255, 252, 248);
  padding-top: 15px;
  font-size: 250%;
}

/*changes font*/
p {
  font-family: Arial, Helvetica, sans-serif;
}

/*makes table border, extends width, and changes font*/
table,
th,
td {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border: 1px solid;
}

/*collapses table border into one line, extends width of table*/
table {
  border-collapse: collapse;
  width: 100%;
}

/*YouTube video centering*/
div,
iframe {
  text-align: center;
  padding: 5px;
}

/*nav bar formatting - w3schools tutorial*/
ul {
  /*type non removes bullets*/
  list-style-type: none;

  /*insures there is no extra space around the nav bar*/
  margin: 0;
  padding: 0;

  /*if anything doesn't fit in the nav bar, it is hidden*/
  overflow: hidden;

  /*changes colour of the nav bar*/
  background-color: rgb(56, 55, 56);
}

/*links slid left*/
li {
  float: left;
}

/*link text formatting*/
li a {
  /*sets the text in a block*/
  display: block;

  /*sets text colour*/
  color: white;

  /*center the text in its box*/
  text-align: center;

  /*gives space around the text, expands box*/
  padding: 14px 16px;

  /*sets to standard text*/
  text-decoration: none;
}

/*Changes the link colour on hover*/
li a:hover {
  background-color: rgb(20, 19, 20);
}

/*active page is highlighted*/
.active {
  background-color: rgb(69, 34, 99);
}

/*changes background colour of header*/
header {
  background-color: rgb(34, 33, 36);
}
